* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: lightcyan;
}

h2 {
  color: red;
}

li {
  margin-left: 3em;
}

span {
  font-weight: bold;
}

table {
  width: 28.250em;
}

td {
  width: 6.250em;
  font-size: 0.625em;
}

.margin {
  margin-left: 3em;
}

.wrapper {
  background-color: rgb(35, 168, 221);
  height: 100%;
  max-width: 75%;
}

.container {
  background-color: lightcyan;
  max-width: 80%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
